<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Development</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Playfair+Display:wght@700&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles_auth.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/Buzio4.jpeg">
</head>
<body>
    <div class="nav-bar">
        <img class="nav-logo" src="images/Buzio5.png" alt="logo">
        <a class="nav-title" href="/">Buzio</a>
    </div>

    <% if(validCredentials === false){ %>
        <div class="invalid-box">
            <p class="error-msg">Invalid username or password!<br>Please try again</p>
        </div>
    <% } %>  

    <div class="auth-box">
        <h3>Admin Authentication</h3>
        <form action="/auth.html" method="post">
            <div class="details">
                <label>Username: &nbsp;&nbsp;&nbsp;</label>
                <input class="form-input" type="text" name="username" required autofocus>
            </div>
            <div class="details">
                <label>Password: &nbsp;&nbsp;&nbsp;</label>
                <input class="form-input" type="password" name="password" required>
            </div>
            <button class="btn-login" type="submit">Login</button>
        </form>
    </div>
</body>
</html>