<footer class="footer">
    <div class="footer-sub">
        <h3 class="footer-primary">Buzio</h3>
        <a class="footer-tertiary">©Buzio 2022</a>
        <a class="footer-tertiary">All rights reserved.</a>
        <br><br><br>
    </div>
    <div class="footer-sub">
        <h6 class="footer-secondary">Menu</h6>
        <a class="footer-tertiary">Home</a>
        <a class="footer-tertiary">Explore</a>
        <a class="footer-tertiary">Travel</a>
        <a class="footer-tertiary">Blog</a>
        <a class="footer-tertiary">Pricing</a>
        <br>
    </div>
    <div class="footer-sub">
        <h6 class="footer-secondary">Information</h6>
        <a class="footer-tertiary">Destinations</a>
        <a class="footer-tertiary">Support</a>
        <a class="footer-tertiary">Terms and Conditions</a>
        <a class="footer-tertiary">Privacy</a>
        <br><br>
    </div>
    <div class="footer-sub">
        <h6 class="footer-secondary">Contact Info</h6>
        <a class="footer-tertiary">+91 9192939495</a>
        <a class="footer-tertiary">info@buzio.com</a>
        <a class="footer-tertiary">695004, Kerala, India</a>
        <br><br><br>
    </div>
    <div class="footer-sub">
        <h6 class="footer-secondary">Follow us on</h6>
        <div class="footer-icons">
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-instagram-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
            <i class="fab fa-pinterest-square fa-2x"></i>
            <br><br><br><br><br>
        </div>
    </div>
  </footer>