*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    
}

a{
    text-decoration: none;
    position: relative;
    color: #fff;
}

h3{
    text-align: center;
    margin-bottom: 40px;
    color: #172432;
}

label{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.nav-bar{
    background-image: linear-gradient(to right, rgba(19,41,104), rgba(94,144,204));
    position: relative;
    display: block;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 30px #888888;
}

.nav-logo{
    height: 3rem;
    position: relative;
    left: 105px;
    top: 8px;
}

.nav-title{
    position: relative;
    left: 100px;
    font-size: 1.5rem;
}

.nav-title:hover{
    color: #FF7757;
}

.auth-box{
    position: relative;
    width: 30%;
    margin: 100px auto;
    height: 340px;
    background-color: rgba(172 ,206 ,239, 0.5);
    border: 2px solid #FF7757;
    border-radius: 10px;
    box-shadow: 0 0 30px #888888;
    padding: 25px;

}

.details{
    padding: 20px;
    margin: 0 auto;
}

.form-input{
    border: none;
    border-bottom: 2px solid #FF7757;
    appearance: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    width: 180px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.btn-login{
    color: #000;
    padding: 20px;
    display: block;
    text-align: center;
    margin: 15px 90px;
    border-radius: 10px;
    background-color: #fff;
}

.btn-login:hover{
    background-color: #FF7757
}