/* General */

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Rubik', sans-serif;
   background-color: #fff;
    
}

a{
    text-decoration: none;
    position: relative;
    color: #fff;
}

h4{
    display: inline-block;
}

h5,h6{
    display: inline-block;
    color: #777;
}

/* Navigation Bar*/

.nav-bar{
    background-image: linear-gradient(to right, rgba(19,41,104), rgba(94,144,204));
    position: relative;
    display: block;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 30px #888888;
}

.nav-logo{
    height: 3rem;
    position: relative;
    left: 105px;
    top: 8px;
    background: url("../images/Buzio5.png") no-repeat;
}

.nav-logo:hover{
    background: url(../images/Buzio8.png) no-repeat;
}

.nav-title{
    position: relative;
    left: 100px;
    font-size: 1.5rem;
}

.nav-title:hover{
    color: #FF7757;
}

.nav-tags{
    left: 300px;
    margin: 20px;
}

.nav-tags:hover{
    text-decoration: underline;
    text-decoration-color: #FF7757;
}

.nav-admin{
    left: 570px;
    padding: 5px;
    color: #fff;
    transition: all 0.2s;
    display: inline-block;
}

.nav-admin:hover{
    background-color: #FF7757;
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
}

/* Bus Details */

.content{
    padding-bottom: 350px;
}

.items{
    position: relative;
    display: inline-block;
}

.item{
    background-color: rgba(172 ,206 ,239, 0.5);
    width: 810px;
    margin: 20px 30px 20px 50px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #FF7757;
    transition: all .5s;
    cursor: pointer;
}

.item:hover{
    border: 2px solid #55c57a;
    box-shadow: 0 0 30px #888888;
}


.error-msg{
    display: inline-block;
    margin: 20px 50px;
    padding: 30px;
    font-size: 2.5rem;
}

.bus-1{
    display: inline-block;
    margin: 10px;
    width: 25%;
}

.bus-name{
    margin: 5px 10px 2.5px;
}

.bus-id{
    margin: 2.5px 10px 20px;
}

.bus-type{
    margin: 2.5px 10px;
}

.bus-2{
    display: inline-block;
    margin: 10px;
    width: 45%;
}

.bus-start-time{
    margin: 10px 45px 2.5px 10px;
}

.bus-travel-time{
    margin: 10px 60px 2.5px 60px;
}

.bus-end-time{
    margin: 10px 10px 2.5px 45px;
    text-align: right;
}

.bus-start-date{
    margin: 2.5px 60px 15px 10px;
}

.bus-end-date{
    margin: 2.5px 10px 15px 60px;
    text-align: right;
}

.bus-start-location{
    margin: 15px 70px 10px 10px;
}

.bus-end-location{
    margin: 15px 10px 10px 70px;
    text-align: right;
}

.bus-3{
    display: inline-block;
    margin: 10px;
    width: 20%;
}

.bus-misc{
    margin: 2.5px 10px ;
    display: block;
}

.bus-amenities{
    width: 14%;
    margin: 2px 4px;
}

.bus-amenities:first-of-type{
    margin-left: 10px;
}

/* Search Bar */

.search-bar{
    position: sticky;
    float: right;
    top: 20px;
    width: 23%;
    background-color: rgba(172 ,206 ,239, 0.5);
    margin: 20px 50px 20px 30px;
    height: 450px;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid #FF7757;
}

.search-details{
    position: relative;
    display: inline-block;
    height: 330px;
}

.search-item{
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-bottom: 25px;
    position: relative;
}

.form-input{
    border: none;
    border-bottom: 2px solid #FF7757;
    appearance: none;
    outline: none;
    background-color: transparent;
    padding: 12px 12px 0px;
    width: 190px;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
}

.placeholder{
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    left: 30px;
    top: 20px;
    color: #000;
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;

}

.form-input:valid + .placeholder,
.form-input:focus + .placeholder{
    color: #777;
    top: 0;
    font-size: 1rem;
}

.btn-search{
    position: relative;      
    padding: 20px 75px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    background-color: #FF7757;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-search:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 20px rgb(0 0 0 / 20%);
}

/* Footer */

.footer{
    background-color: #172432;
    padding: 45px;
    color: #fff;
}

.footer-sub{
    display: inline-block;
    margin: 100px 50px;
}

.footer-primary{
    font-size: 2.8rem;
    margin: 10px 0px;
}

.footer-primary:hover{
    color: #FF7757;
}

.footer-secondary{
    font-size: 1.4rem;
    margin: 5px 0px;
    color: #fff;
}

.footer-secondary:hover{
    color: #FF7757;
}

.footer-tertiary{
    font-size: .8rem;
    margin: 2.5px 0px;
    display: block;
}

.footer-tertiary:hover{
    cursor: pointer;
    color: #FF7757;
}

.fab{
    padding: 0px 2.5px;
    cursor: pointer;
}

.fab:hover{
    color: #FF7757;
}
