 /* General  */

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Rubik', sans-serif;
    background-color: #fff; 
}

a{
    text-decoration: none;
    position: relative;
    color: #fff;
}

h1{
    text-align: center;
    margin: 20px;
}

h3{
    text-align: center;
    margin-top: 20px;
}

h5,h6{
    display: block;
    color: #777;
}

/* Navigation Bar*/

.nav-bar{
    background-image: linear-gradient(to right, rgba(19,41,104), rgba(94,144,204));
    position: relative;
    display: block;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 30px #888888;
}

.nav-logo{
    height: 3rem;
    position: relative;
    left: 105px;
    top: 8px;
    background: url("images/Buzio5.png") no-repeat;
}

.nav-logo:hover{
    background: url("images/Buzio8.png") no-repeat;
}

.nav-title{
    position: relative;
    left: 100px;
    font-size: 1.5rem;
}

.nav-title:hover{
    color: #FF7757;
}

.nav-tags{
    left: 300px;
    margin: 20px;
}

.nav-tags:hover{
    text-decoration: underline;
    text-decoration-color: #FF7757;
}

/* Ticket Details */
.ticket-details{
    position: relative;
    background-color: rgba(172 ,206 ,239, 0.5);
    margin: 50px auto;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #FF7757;
    transition: all .5s;
}

.ticket-details:hover{
    border: 2px solid #55c57a;
    box-shadow: 0 0 30px #888888;
}

/* Bus Details */

.bus-details{
    display: flex;
}

.bus-group{
    margin: 10px 25px;
}

.bus-name{
    margin: 5px 10px 2.5px;
}

.bus-info{
    margin: 2.5px 10px 5px;
}

.bus-from{
    display: inline-block;
    margin-left: 10px;
}

.bus-to{
    float: right;
    margin-right: 10px;
}

.bus-start-time{
    display: inline-block;
    margin: 10px 10px 2.5px;
}

.bus-travel-time{
    display: inline-block;
    margin: 10px 55px 2.5px;
}

.bus-end-time{
    margin: 10px 10px 2.5px;
    float: right;
}

.bus-start-date{
    display: inline-block;
    margin: 2.5px 10px 15px;
}

.bus-end-date{
    margin: 2.5px 10px 15px;
    float: right;
}

.bus-start-location{
    display: inline-block;
    margin: 15px 10px 10px;
}

.bus-end-location{
    margin: 15px 10px 10px;
    float: right;
}

.bus-misc{
    margin: 2.5px 10px ;
    display: block;
}

.bus-amenities{
    width: 30px;
    margin: 2px 4px;
}

.bus-amenities:first-of-type{
    margin-left: 10px;
}

.bus-stops{
    text-align: center;
    margin-bottom: 10px;
}

/* User details */

.user-details{
    margin: 35px;
}

.user-group{
    display: inline-block;
    padding: 10px;
}

.user-info{
    padding: 2.5px 5px;
}

.user-addtl-group{
    padding: 20px 10px;
}

.user-addtl-info{
    display: inline-block;
    padding: 2.5px 140px 2.5px 5px;
}

/* Footer */

.footer{
    background-color: #172432;
    padding: 45px;
    color: #fff;
}

.footer-sub{
    display: inline-block;
    margin: 100px 50px;
}

.footer-primary{
    font-size: 2.8rem;
    margin: 10px 0px;
}

.footer-primary:hover{
    color: #FF7757;
}

.footer-secondary{
    font-size: 1.4rem;
    margin: 5px 0px;
    color: #fff;
}

.footer-secondary:hover{
    color: #FF7757;
}

.footer-tertiary{
    font-size: .8rem;
    margin: 2.5px 0px;
    display: block;
}

.footer-tertiary:hover{
    cursor: pointer;
    color: #FF7757;
}

.fab{
    padding: 0px 2.5px;
    cursor: pointer;
}

.fab:hover{
    color: #FF7757;
}

