/* General */

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    
}

h3{
    text-align: center;
    margin-top: 20px;
}

h4{
    display: inline-block;
}

h5,h6{
    display: inline-block;
    color: #777;
}

a{
    text-decoration: none;
    position: relative;
    color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px rgba(172 ,206 ,239, 0.5) inset !important;
  -webkit-box-shadow: 0 0 0 30px rgba(172 ,206 ,239, 0.5) inset !important;
}

/* Navigation Bar*/

.nav-bar{
    background-image: linear-gradient(to right, rgba(19,41,104), rgba(94,144,204));
    position: relative;
    display: block;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 30px #888888;
}

.nav-logo{
    height: 3rem;
    position: relative;
    left: 105px;
    top: 8px;
    background: url("../images/Buzio5.png") no-repeat;
}

.nav-logo:hover{
    background: url(../images/Buzio8.png) no-repeat;
}

.nav-title{
    position: relative;
    left: 100px;
    font-size: 1.5rem;
}

.nav-title:hover{
    color: #FF7757;
}

.form-input{
    border: none;
    border-bottom: 2px solid #FF7757;
    appearance: none;
    outline: none;
    background-color: transparent;
    padding: 12px 12px 0px;
    width: 190px;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
}

.form-input:valid{
    border-bottom: 2px solid #55c57a;
}

.placeholder{
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    left: 30px;
    top: 20px;
    color: #000;
    transition: all 0.3s ease

}

.form-input:valid + .placeholder,
.form-input:focus + .placeholder{

    color: #777;
    top: 0;
    font-size: 1rem;

}


/* Bus Details */
.bus-stops{
    position: sticky;
    float: right;
    top: 20px;
    width: 15%;
    background-color: rgba(172 ,206 ,239, 0.5);
    margin: 20px 45px 20px 10px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #55c57a;
}

.bus-stop{
    display: block;
    margin: 5px 10px;
}

.bus-stop:first-of-type{
    margin: 20px 10px 5px;
}

.bus-stop:last-of-type{
    margin: 5px 10px 20px;
}

.bus-details{
    position: sticky;
    float: right;
    top: 20px;
    width: 25%;
    background-color: rgba(172 ,206 ,239, 0.5);
    margin: 20px 10px 20px 30px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #55c57a;
}

.bus-group{
    margin: 10px 10px 40px;
}

.bus-name{
    margin: 5px 10px 2.5px;
}

.bus-info{
    margin: 2.5px 10px;
}

.bus-from{
    margin: 10px 30px 2.5px 10px;
}

.bus-to{
    margin: 10px 10px 2.5px 30px;
    float: right;
}

.bus-start-time{
    margin: 10px 30px 2.5px 10px;
}

.bus-travel-time{
    margin: 10px 30px 2.5px;
}

.bus-end-time{
    margin: 10px 10px 2.5px 30px;
    float: right;
}

.bus-start-date{
    margin: 2.5px 19.5px 15px 10px;
}

.bus-end-date{
    margin: 2.5px 10px 15px 19.5px;
    float: right;
}

.bus-start-location{
    margin: 15px 10px 10px;
}

.bus-end-location{
    margin: 15px 10px 10px;
    float: right;
}

.bus-misc{
    margin: 2.5px 10px ;
    display: block;
}

.bus-misc:last-child{
    margin-top: 10px;
}

/* User Details */

.notif-box{
    position: relative;
    margin: 10px 50px;
    padding: 10px;
    width: 46%;
    color: #fff;
    background-color:orange;
}

.notif-msg{
    font-size: 1rem;
}

.add-details{
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    width: 46%;
    margin: 20px 30px 20px 50px;
    background-color: rgba(172 ,206 ,239, 0.5);
    border-radius: 10px;
    border: 2px solid #FF7757;
    transition: all .3s;
}

.add-item{
    display: inline-block;
    padding: 10px 27px;
    font-size: 1.2rem;
    margin-bottom: 25px;
    position: relative;
}

.hidden-bus-details{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.btn-create{
    display: block;
    position: relative;
    margin: 25px auto;      
    padding: 20px 30px; 
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #FF7757;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-create:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 20px rgb(0 0 0 / 20%);
}

/* Footer */

.footer{
    background-color: #172432;
    padding: 45px;
    color: #fff;
}

.footer-sub{
    display: inline-block;
    margin: 100px 50px;
}

.footer-primary{
    font-size: 2.8rem;
    margin: 10px 0px;
}

.footer-primary:hover{
    color: #FF7757;
}

.footer-secondary{
    font-size: 1.4rem;
    margin: 5px 0px;
    color: #fff;
}

.footer-secondary:hover{
    color: #FF7757;
}

.footer-tertiary{
    font-size: .8rem;
    margin: 2.5px 0px;
    display: block;
}

.footer-tertiary:hover{
    cursor: pointer;
    color: #FF7757;
}

.fab{
    padding: 0px 2.5px;
    cursor: pointer;
}

.fab:hover{
    color: #FF7757;
}

