*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    
}

h3{
    text-align: center;
    margin-bottom: 20px;
}

h4{
    display: inline-block;
}

h5,h6{
    display: inline-block;
    color: #777;
}

a{
    text-decoration: none;
    position: relative;
    color: #fff;
}

input + .add-item:-webkit-autofill,
input + .add-item:-webkit-autofill:hover,
input + .add-item:-webkit-autofill:focus,
input + .add-item:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px rgba(255, 255, 255) inset !important;
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255) inset !important;
}

input + .search-bar:-webkit-autofill,
input + .search-bar:-webkit-autofill:hover,
input + .search-bar:-webkit-autofill:focus,
input + .search-bar:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px rgba(172 ,206 ,239, 0.5) inset !important;
  -webkit-box-shadow: 0 0 0 30px rgba(172 ,206 ,239, 0.5) inset !important;
}

.nav-bar{
    background-image: linear-gradient(to right, rgba(19,41,104), rgba(94,144,204));
    position: relative;
    display: block;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 30px #888888;
}

.nav-logo{
    height: 3rem;
    position: relative;
    left: 105px;
    top: 8px;
}

.nav-title{
    position: relative;
    left: 100px;
    font-size: 1.5rem;
}

.nav-title:hover{
    color: #FF7757;
}

.nav-add,.nav-add:link, .nav-add:visited{
    left: 1000px;
    padding: 5px 10px;
    color: #FFF;
    border-bottom: 1px solid #FF7757;
    transition: all 0.2s;
    display: inline-block;
}

.nav-add:hover{
    background-color: #FF7757;
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
}

.form-input{
    border: none;
    border-bottom: 2px solid #FF7757;
    appearance: none;
    outline: none;
    background-color: transparent;
    padding: 12px 12px 0px;
    width: 190px;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
}

.form-input:valid{
    border-bottom: 2px solid #55c57a;
}

.placeholder{
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    left: 30px;
    top: 20px;
    color: #000;
    transition: all 0.3s ease;
}

.form-input:valid + .placeholder,
.form-input:focus + .placeholder{
    color: #777;
    top: 0;
    font-size: 1rem;

}

.search-bar{
    position: relative;
    width: 90%;
    background-color: rgba(172 ,206 ,239, 0.5);
    border: 2px solid #FF7757;
    margin: 20px auto;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
}

.search-details{
    position: relative;
    display: inline-block;
}

.search-item{
    padding: 10px 20px;
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
}

.btn-search, .btn-search:link, .btn-search:visited {
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s;
    border: none;
    background-color: #FF7757;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-search:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 20px rgb(0 0 0 / 20%);
}

/* Bus Details */


.bus-details{
    position: relative;
    display: inline-block;
}

.bus{
    position: relative;
    background-color: rgba(172 ,206 ,239, 0.5);
    width: 810px;
    margin: 20px 30px 20px 65px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #FF7757;
    transition: all .5s;
    cursor: pointer;
}

.bus:hover{
    border: 2px solid #55c57a;
    box-shadow: 0 0 30px #888888;
}


.error-msg{
    display: inline-block;
    margin: 20px 50px;
    padding: 30px;
    font-size: 2.5rem;
}

.bus-1{
    display: inline-block;
    margin: 10px;
    width: 25%;
}

.bus-name{
    margin: 5px 10px 2.5px;
}

.bus-id{
    margin: 2.5px 10px 20px;
}

.bus-type{
    margin: 2.5px 10px;
}

.bus-2{
    display: inline-block;
    margin: 10px;
    width: 45%;
}

.bus-start-time{
    margin: 10px 45px 2.5px 10px;
}

.bus-travel-time{
    margin: 10px 60px 2.5px 60px;
}

.bus-end-time{
    margin: 10px 10px 2.5px 45px;
    float: right;
}

.bus-start-date{
    margin: 2.5px 60px 15px 10px;
}

.bus-end-date{
    margin: 2.5px 10px 15px 60px;
    float: right;
}

.bus-start-location{
    margin: 15px 70px 10px 10px;
}

.bus-end-location{
    margin: 15px 10px 10px 70px;
    float: right;
}

.bus-3{
    display: inline-block;
    margin: 10px;
    width: 20%;
}

.bus-misc{
    margin: 2.5px 10px ;
    display: block;
}

.bus-amenities{
    width: 14%;
    margin: 2px 4px;
}

.bus-amenities:first-of-type{
    margin-left: 10px;
}

.hidden-bus-details{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.btn-update{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer; 
}

/* Popup */

.popup{
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -100;
}

.popup-content{
    opacity: 0;
    position: absolute;
    width: 90%;
    margin: 0 auto;
    padding: 34px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 /20%);
    overflow: hidden;
    background-color: #fff;
    
}

.popup:target, .popup-content{
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.popup-close, .popup-close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 2rem;
    display: inline-block;
    transition: all .3s;
    line-height: 1;
}

.popup-close:hover{
    color: #FF7757;
}


.add-details{
    position: relative;
    padding: 10px 40px;
}

.add-item{
    display: inline-block;
    padding: 10px 27px;
    font-size: 1.2rem;
    margin-bottom: 25px;
    position: relative;
}

.btn{
    display: block;
    position: relative;
    width: 15%;
    margin: 25px auto 0px;      
    padding: 20px 30px; 
    text-align: center;
    transition: all 0.2s;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #FF7757;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 20px rgb(0 0 0 / 20%);
}

.notif-box{
    position: relative;
    margin: 0px 30px 30px;
    padding: 10px;
    color: #fff;
    background-color:orange;
}

.notif-msg{
    font-size: 1rem;
}

